
#house {
    font-size: 27px;
  }

#plus{

    margin-right: 10px;

}

#barra{
    width: 30px;
}

.ico-modal{
    font-size: 25px;
}

.ico-modal1{
    font-size: 50px;
    margin-bottom: 30px;
}

.ico-soli{
    padding: auto;
    padding-right: 8px;
}

.menu1{

    margin-left: 10%;
    padding: auto;
}

.menu2{
    padding: auto;
}




