
#house {
    font-size: 27px;
  }

#plus{

    margin-right: 10px;

}

#barra{
    width: 30px;
}

.ico-modal{
    font-size: 25px;
}

.ico-modal1{
    font-size: 50px;
    margin-bottom: 30px;
}

.ico-soli{
    padding: auto;
    padding-right: 8px;
}

.menu1{

    margin-left: 10%;
    padding: auto;
}

.menu2{
    padding: auto;
}


.date-container {
    position: relative;
    display: inline-block;
}

.custom-date-input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 10px;
    padding-left: 40px; /* Deja espacio para el icono */
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
}

/* Estilo para el calendario emergente en navegadores compatibles */
.custom-date-input::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 69%;
    left: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.valor{
    margin-top: 40px;
}

.conf{
    width: 100%;
    height: 50%;
}




